@use '@/styles/breakpoints' as *;

.scrollView {
  display: none;

  @include for-desktop {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    height: 100vh;
    justify-content: center;
    margin-right: 35px;
    z-index: 100;
  }
}
